{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    Main page
{% endblock %}

{% block content %}
    {{ hello }}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias atque blanditiis debitis error excepturi incidunt labore magnam magni molestias nisi nobis odit, officia omnis recusandae repellat sunt ullam vero.<br/>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nam, nobis officiis quae quidem vero! Accusantium autem consequatur dolore et, ipsa natus nostrum nulla odit, quae reprehenderit sed totam voluptatibus? <br/>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi aut autem consectetur debitis doloribus, error et exercitationem facilis porro quisquam soluta. Accusantium consequuntur cumque eum possimus, quis quo? <br/>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi autem blanditiis debitis dicta eius eos illo iure molestiae, nemo nobis numquam perferendis quia quisquam quod quos reiciendis sunt voluptatibus! <br/>
{% endblock %}